body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.remove-button{
  background: white !important; 
  border-radius: 25px !important;
  outline: none !important; 
  border: none !important;
  color: red;
}

.breadcrumb {
  background: white !important
}